Repository ahmadabdalla/ResourceModulesOverlay: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.updateStaticTestDocs.yml

.azuredevops/platformPipelines/platform.updateReadMe.yml:
  name: .Platform - Update ReadMe Module Tables
  jobs:
  - job: Update_status_tables
    displayName: Update status tables
    pool:
      ${{ if ne(variables.vmImage, '') }}:
        vmImage: ${{ variables.vmImage }}
      ${{ if ne(variables.poolName, '') }}:
        name: ${{ variables.poolName }}
    steps:
  ...

.azuredevops/platformPipelines/platform.updateStaticTestDocs.yml:
  name: .Platform - Update Static Test Documentation
  jobs:
  - job: Update_Static_Test_Docs
    displayName: Update Static Tests Documentation
    pool:
      ${{ if ne(variables.vmImage, '') }}:
        vmImage: ${{ variables.vmImage }}
      ${{ if ne(variables.poolName, '') }}:
  ...

added managed identity module
  .azuredevops/modulePipelines/ms.managedidentity.userassignedidentities.yml
  .github/workflows/ms.managedidentity.userassignedidentities.yml
  modules/.shared/.scripts/Copy-VhdToStorageAccount.ps1
  modules/.shared/.scripts/Get-PairedRegion.ps1
  modules/.shared/.scripts/New-SSHKey.ps1
  modules/.shared/.scripts/Set-BlobContent.ps1
  modules/.shared/.scripts/Set-CertificateInKeyVault.ps1
  modules/.shared/.scripts/Set-PfxCertificateInKeyVault.ps1
  modules/.shared/.scripts/Start-ImageTemplate.ps1
  modules/.shared/.templates/diagnostic.dependencies.bicep
  modules/managed-identity/user-assigned-identities/.bicep/nested_roleAssignments.bicep
  modules/managed-identity/user-assigned-identities/.test/common/dependencies.bicep
  modules/managed-identity/user-assigned-identities/.test/common/main.test.bicep
  modules/managed-identity/user-assigned-identities/README.md
  modules/managed-identity/user-assigned-identities/main.bicep
  modules/managed-identity/user-assigned-identities/metadata.json
  modules/managed-identity/user-assigned-identities/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

first commit
  modules/managed-identity/user-assigned-identities/.bicep/nested_roleAssignments.bicep
  modules/managed-identity/user-assigned-identities/.test/common/main.test.bicep
  modules/managed-identity/user-assigned-identities/bicepconfig.json
  modules/managed-identity/user-assigned-identities/main.bicep
  modules/managed-identity/user-assigned-identities/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated prefix
  modules/managed-identity/user-assigned-identities/.test/common/main.test.bicep
Due: none

module updates
  modules/managed-identity/user-assigned-identities/.test/common/dependencies.bicep
  modules/managed-identity/user-assigned-identities/.test/common/main.test.bicep
  modules/managed-identity/user-assigned-identities/README.md
  modules/managed-identity/user-assigned-identities/main.bicep
  modules/managed-identity/user-assigned-identities/metadata.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated overlay for BR
  modules/managed-identity/user-assigned-identities/README.md
  modules/managed-identity/user-assigned-identities/bicepconfig.json
  modules/managed-identity/user-assigned-identities/main.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test
  modules/managed-identity/user-assigned-identities/README.md
  modules/managed-identity/user-assigned-identities/bicepconfig.json
  modules/managed-identity/user-assigned-identities/main.bicep
  settings.yml
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

removing tests
  utilities/pipelines/staticValidation/module.tests.ps1
Due: .azuredevops/platformPipelines/platform.updateStaticTestDocs.yml

update to bicep config
  modules/managed-identity/user-assigned-identities/bicepconfig.json
Due: none

update bicep config
  modules/managed-identity/user-assigned-identities/bicepconfig.json
Due: none

updated to use TS as source
  modules/managed-identity/user-assigned-identities/README.md
  modules/managed-identity/user-assigned-identities/main.bicep
  modules/managed-identity/user-assigned-identities/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

mi-revert
  modules/managed-identity/user-assigned-identities/.bicep/nested_roleAssignments.bicep
  modules/managed-identity/user-assigned-identities/.test/common/dependencies.bicep
  modules/managed-identity/user-assigned-identities/.test/common/main.test.bicep
  modules/managed-identity/user-assigned-identities/README.md
  modules/managed-identity/user-assigned-identities/main.bicep
  modules/managed-identity/user-assigned-identities/metadata.json
  modules/managed-identity/user-assigned-identities/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

added overlay module
  .github/workflows/ms.managedidentity.userassignedidentitiesoverlay.yml
  modules/managed-identity/user-assigned-identities-overlay/.test/common/main.test.bicep
  modules/managed-identity/user-assigned-identities-overlay/README.md
  modules/managed-identity/user-assigned-identities-overlay/main.bicep
  modules/managed-identity/user-assigned-identities-overlay/metadata.json
  modules/managed-identity/user-assigned-identities-overlay/version.json
  modules/managed-identity/user-assigned-identities/bicepconfig.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fixing
  modules/managed-identity/user-assigned-identities-overlay/main.bicep
  modules/managed-identity/user-assigned-identities-overlay/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

commit
  .github/workflows/ms.managedidentity.userassignedidentitiesoverlaylocal.yml
  .github/workflows/ms.managedidentity.userassignedidentitiesoverlayremote.yml
  modules/managed-identity/user-assigned-identities-overlay-local/.test/common/main.test.bicep
  modules/managed-identity/user-assigned-identities-overlay-local/README.md
  modules/managed-identity/user-assigned-identities-overlay-local/main.bicep
  modules/managed-identity/user-assigned-identities-overlay-local/metadata.json
  modules/managed-identity/user-assigned-identities-overlay-local/version.json
  modules/managed-identity/user-assigned-identities-overlay-remote/.test/common/main.test.bicep
  modules/managed-identity/user-assigned-identities-overlay-remote/README.md
  modules/managed-identity/user-assigned-identities-overlay-remote/bicepconfig.json
  modules/managed-identity/user-assigned-identities-overlay-remote/main.bicep
  modules/managed-identity/user-assigned-identities-overlay-remote/metadata.json
  modules/managed-identity/user-assigned-identities-overlay-remote/version.json
  modules/managed-identity/user-assigned-identities-overlay/metadata.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

apply changes
  modules/managed-identity/user-assigned-identities-overlay-local/.test/common/main.test.bicep
  modules/managed-identity/user-assigned-identities-overlay-local/README.md
  modules/managed-identity/user-assigned-identities-overlay-local/main.bicep
  modules/managed-identity/user-assigned-identities-overlay-remote/main.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test
  modules/network/private-endpoints-overlay-local/version.json
  modules/storage/storage-accounts-overlay-local/.test/common/main.test.bicep
  modules/storage/storage-accounts-overlay-local/.test/encr/main.test.bicep
  modules/storage/storage-accounts-overlay-local/.test/min/main.test.bicep
  modules/storage/storage-accounts-overlay-local/.test/nfs/dependencies.bicep
  modules/storage/storage-accounts-overlay-local/.test/nfs/main.test.bicep
  modules/storage/storage-accounts-overlay-local/.test/v1/main.test.bicep
  modules/storage/storage-accounts-overlay-local/main.bicep
  modules/storage/storage-accounts/.test/encr/main.test.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updates
  .github/workflows/ms.network.privateendpoints.yml
  .github/workflows/ms.network.privateendpointsoverlaylocal.yml
  .github/workflows/ms.storage.storageaccounts.yml
  .github/workflows/ms.storage.storageaccountsoverlaylocal.yml
  modules/network/private-endpoints-overlay-local/.test/common/main.test.bicep
  modules/network/private-endpoints-overlay-local/.test/min/dependencies.bicep
  modules/network/private-endpoints-overlay-local/.test/min/main.test.bicep
  modules/network/private-endpoints-overlay-local/README.md
  modules/network/private-endpoints-overlay-local/private-dns-zone-groups/README.md
  modules/network/private-endpoints-overlay-local/private-dns-zone-groups/main.bicep
  modules/network/private-endpoints-overlay-local/private-dns-zone-groups/metadata.json
  modules/network/private-endpoints-overlay-local/private-dns-zone-groups/version.json
  modules/storage/storage-accounts-overlay-local/.test/encr/dependencies.bicep
  modules/storage/storage-accounts-overlay-local/.test/encr/main.test.bicep
  modules/storage/storage-accounts-overlay-local/.test/min/main.test.bicep
  modules/storage/storage-accounts-overlay-local/README.md
  modules/storage/storage-accounts-overlay-local/main.bicep
  modules/storage/storage-accounts/.test/encr/main.test.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

added remote overlay
  .github/workflows/ms.network.privateendpointsoverlayremote.yml
  .github/workflows/ms.storage.storageaccountsoverlayremote.yml
  modules/network/private-endpoints-overlay-remote/.test/common/dependencies.bicep
  modules/network/private-endpoints-overlay-remote/.test/common/main.test.bicep
  modules/network/private-endpoints-overlay-remote/README.md
  modules/network/private-endpoints-overlay-remote/bicepconfig.json
  modules/network/private-endpoints-overlay-remote/main.bicep
  modules/network/private-endpoints-overlay-remote/metadata.json
  modules/network/private-endpoints-overlay-remote/version.json
  modules/storage/storage-accounts-overlay-remote/.test/common/dependencies.bicep
  modules/storage/storage-accounts-overlay-remote/.test/common/main.test.bicep
  modules/storage/storage-accounts-overlay-remote/README.md
  modules/storage/storage-accounts-overlay-remote/bicepconfig.json
  modules/storage/storage-accounts-overlay-remote/main.bicep
  modules/storage/storage-accounts-overlay-remote/metadata.json
  modules/storage/storage-accounts-overlay-remote/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updates
  modules/storage/storage-accounts-overlay-local/README.md
  modules/storage/storage-accounts-overlay-local/main.bicep
  modules/storage/storage-accounts-overlay-local/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated to storage overlay local
  modules/storage/storage-accounts-overlay-local/.test/common/main.test.bicep
  modules/storage/storage-accounts-overlay-local/README.md
  modules/storage/storage-accounts-overlay-local/main.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated
  .azuredevops/modulePipelines/ms.managedidentity.userassignedidentities.yml
Due: none

merge this
  .azuredevops/modulePipelines/ms.managedidentity.userassignedidentity.yml
  modules/managed-identity/user-assigned-identity/.test/common/main.test.bicep
  modules/managed-identity/user-assigned-identity/README.md
  modules/managed-identity/user-assigned-identity/bicepconfig.json
  modules/managed-identity/user-assigned-identity/main.bicep
  modules/managed-identity/user-assigned-identity/metadata.json
  modules/managed-identity/user-assigned-identity/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated GHA
  .github/workflows/ms.managedidentity.userassignedidentities.yml
Due: none

Path conditions:
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: modules/**/main.bicep, modules/**/main.json, utilities/tools/platform
  .azuredevops/platformPipelines/platform.updateStaticTestDocs.yml: any of: .azuredevops/platformPipelines/platform.updateStaticTestDocs.yml, utilities/pipelines/staticValidation/module.tests.ps1, utilities/tools/platform/Set-StaticTestDocumentation.ps1
